@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

.kontakt{
    height: 100vh;
    background-color: #333333;
    
}

