@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  
}
.oNama{

   
    background-color: black;
     overflow: hidden;
     width: 100%;

}

.oNamaHeading{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.oNamaText{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 2em;
    font-size: 20px;
}

.textColumn{
margin-top: 20vh;
}
.slikaGuma{
     height:100vh;
     background-size: cover; 
     opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .textColumn {
      margin-top: 5vh;
      margin-bottom: 50px;
    }
    .oNamaText{
        font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 15px;
    margin:0;
    color: blue;
  
    }
    .slikaGuma{
        height: 50vh;
    }
  } 